<a href="https://colab.research.google.com/github/DavoodSZ1993/Python_Tutorial/blob/main/01_plot_gif.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install yfinance;
!pip install gif;


import numpy as np
import pandas as pd
import yfinance as yf

import matplotlib.pyplot as plt
import gif

#settings
plt.style.use("seaborn")
gif.options.matplotlib['dpi'] = 300

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.74)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gif in /usr/local/lib/python3.7/dist-packages (3.0.0)
Requirement already satisfied: Pillow>=7.1.2 in /usr/local/lib/python3.7/dist-packages (from gif) (7.1.2)

In [7]:
df = yf.download("TSLA",
                 start="2019-01-01",
                 end="2021-12-31")

df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,61.220001,63.026001,59.759998,62.023998,62.023998,58293000
2019-01-03,61.400002,61.880001,59.476002,60.071999,60.071999,34826000
2019-01-04,61.200001,63.599998,60.546001,63.537998,63.537998,36970500
2019-01-07,64.344002,67.348000,63.549999,66.991997,66.991997,37756000
2019-01-08,68.391998,68.802002,65.403999,67.070000,67.070000,35042500
...,...,...,...,...,...,...
2021-12-23,1006.799988,1072.979980,997.559998,1067.000000,1067.000000,30904400
2021-12-27,1073.670044,1117.000000,1070.719971,1093.939941,1093.939941,23715300
2021-12-28,1109.489990,1119.000000,1078.420044,1088.469971,1088.469971,20108000
2021-12-29,1098.640015,1104.000000,1064.140015,1086.189941,1086.189941,18718000
2021-12-30,1061.329956,1095.550049,1053.150024,1070.339966,1070.339966,15680300

In [12]:
tsla_df = df[["Adj Close"]].resample("M").last()
tsla_df

              Adj Close
Date
2019-01-31    61.403999
2019-02-28    63.976002
2019-03-31    55.972000
2019-04-30    47.737999
2019-05-31    37.032001
2019-06-30    44.692001
2019-07-31    48.321999
2019-08-31    45.122002
2019-09-30    48.174000
2019-10-31    62.984001
2019-11-30    65.987999
2019-12-31    83.666000
2020-01-31   130.113998
2020-02-29   133.598007
2020-03-31   104.800003
2020-04-30   156.376007
2020-05-31   167.000000
2020-06-30   215.962006
2020-07-31   286.152008
2020-08-31   498.320007
2020-09-30   429.010010
2020-10-31   388.040009
2020-11-30   567.599976
2020-12-31   705.669983
2021-01-31   793.530029
2021-02-28   675.500000
2021-03-31   667.929993
2021-04-30   709.440002
2021-05-31   625.219971
2021-06-30   679.700012
2021-07-31   687.200012
2021-08-31   735.719971
2021-09-30   775.479980
2021-10-31  1114.000000
2021-11-30  1144.760010
2021-12-31  1070.339966

In [13]:
@gif.frame
def helper_plot_1(df, i):
  df = df.copy()
  df.iloc[i:] = np.nan
  ax = df.plot(title="Tesla's stock price", legend=False, stype="o--")
  ax.set_xlabel("")
  ax.set_ylabel("Price($)")