<a href="https://colab.research.google.com/github/DavoodSZ1993/Python_Tutorial/blob/main/pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Useful Modules

In [2]:
! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip --quiet

In [4]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython import display

## Downloading the UFO Dataset from Kaggle

In [6]:
# opendatasets is a Python library for downloading datasets from online sources like Kaggle and Google Drive using a simple Python command.
!pip install opendatasets --upgrade --quiet

In [7]:
import opendatasets as od

dataset_url = 'https://www.kaggle.com/datasets/NUFORC/ufo-sightings'
od.download(dataset_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: davoodsoleymanzadeh
Your Kaggle Key: ··········
Downloading ufo-sightings.zip to ./ufo-sightings

100%|██████████| 10.2M/10.2M [00:00<00:00, 81.7MB/s]

In [32]:
df = pd.read_csv('ufo-sightings/scrubbed.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## Exploring UFO Dataset

Some of the useful methods are as follows:

* `pandas_profiling.ProfileReport()`: Provides an on-line Exploratory Data Analysis (EDA) experience. 

* `df.head()`: Returns the first n rows.
* `df.tail()`: Returns the last n rows.
* `df.describe()`: Generates descreptive statistics.
* `df.info()`: Prints a concise summary of a DataFrame.
* `df.loc()`: Accesses a group od rows and columns by labels or a boolean array.
* `df.at()`: Access a single value for a row/column label pair.
* `df.sample()`: Returns a random sample of items from an axis of object. 
* `df.first_valid_index()`: Returns index for the first non-NA value or None, if no non-NA value is found.

In [34]:
#pandas_profiling.ProfileReport()

from pandas_profiling import ProfileReport

profile = ProfileReport(df.copy(),title='UFO Report', html={'style': {'full_width': True}})
# profile.to_notebook_iframe()

# to save/output the file
profile.to_file(output_file='ufo_report.html')

display.clear_output()

In [35]:
# df.head()
df.head(5)                                     # Shows the first 5 rows of the dataset.

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [36]:
#df.tail()
df.tail(5)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
80327,9/9/2013 21:15,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.165833,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.613611,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,9/30/2013,38.297222,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.901111,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.652778,-97.477778

In [38]:
# df.describe()
df.describe(include='all')

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
count,80332,80332,74535,70662,78400,80332,80332,80317,80332,80332,80332.000000
unique,69586,19900,67,5,29,706,8349,79997,317,23312,NaN
top,7/4/2010 22:00,seattle,ca,us,light,300,5 minutes,Fireball,12/12/2009,47.6063889,NaN
freq,36,525,9655,65114,16565,7070,4716,11,1510,481,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-86.772885
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.697205
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-176.658056
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-112.073333
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-87.903611
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-78.755000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178.441900

In [40]:
# df.info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              80332 non-null  object
 1   city                  80332 non-null  object
 2   state                 74535 non-null  object
 3   country               70662 non-null  object
 4   shape                 78400 non-null  object
 5   duration (seconds)    80332 non-null  object
 6   duration (hours/min)  80332 non-null  object
 7   comments              80317 non-null  object
 8   date posted           80332 non-null  object
 9   latitude              80332 non-null  object
 10  longitude             80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

In [ ]:
# df.loc
df.loc[20:30]  # rows from 20 to 30

In [48]:
# df.at()
df.at[10, 'latitude']

'33.9163889'

In [49]:
# df.sample()
df.sample(5)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
73225,9/11/2010 20:21,reynolds,il,us,light,30.0,30 seconds,a solid white light traveling West to East&#44...,11/21/2010,41.329722,-90.670278
24375,1/3/2008 20:00,tunkhannock,pa,us,light,7200,2 hours,Flashing colors appeared to be spinning,1/21/2008,41.5386111,-75.946944
57090,7/15/2006 00:00,columbia,pa,us,triangle,60,1 minute,07/15/06 Columbia&#44 PA Triangle shaped 1 mi...,10/30/2006,40.0336111,-76.504722
38126,4/21/2004 23:30,bellevue,wa,us,triangle,30,30 seconds,fast large silent three amber rings triangle f...,4/27/2004,47.6105556,-122.199444
34268,3/30/2013 21:00,tyler,tx,us,fireball,60,1 minute,We were driving and saw a bright orange light ...,4/12/2013,32.3511111,-95.300833

In [51]:
# df.first_valid_index()
df.latitude.first_valid_index()

0

In [52]:
# Accessing elements directly
df['latitude'][100]

'47.6063889'

## Modifying the UFO Dataset:

* `df.copy()`: makes a copy of this object's indices and data.
* `df.columns()`: returns the column labels of the DataFrame.
* `pandas.to_numeric()`: Converts arguments to a numeric type.
* `df.sort_values()`: Sort the values along either exis.
* `df.drop()`: drops specified labels from rows or columns.

In [53]:
# df.copy()

df1 = df.copy()
df.head(5)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [54]:
#df.columns
cols = list(df1.columns.values)
cols

['datetime',
 'city',
 'state',
 'country',
 'shape',
 'duration (seconds)',
 'duration (hours/min)',
 'comments',
 'date posted',
 'latitude',
 'longitude ']

In [55]:
#pandas.to_numeric

df1['latitude'] = pd.to_numeric(df1['latitude'], errors='coerce')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              80332 non-null  object
 1   city                  80332 non-null  object
 2   state                 74535 non-null  object
 3   country               70662 non-null  object
 4   shape                 78400 non-null  object
 5   duration (seconds)    80332 non-null  object
 6   duration (hours/min)  80332 non-null  object
 7   comments              80317 non-null  object
 8   date posted           80332 non-null  object
 9   latitude              80331 non-null  float64
 10  longitude             80332 non-null  float64
dtypes: float64(2), object(9)
memory usage: 6.7+ MB

In [57]:
df1['duration (seconds)'] = pd.to_numeric(df1['duration (seconds)'], errors='coerce')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              80332 non-null  object
 1   city                  80332 non-null  object
 2   state                 74535 non-null  object
 3   country               70662 non-null  object
 4   shape                 78400 non-null  object
 5   duration (seconds)    80329 non-null  float64
 6   duration (hours/min)  80332 non-null  object
 7   comments              80317 non-null  object
 8   date posted           80332 non-null  object
 9   latitude              80331 non-null  float64
 10  longitude             80332 non-null  float64
dtypes: float64(3), object(8)
memory usage: 6.7+ MB

In [58]:
# df.sort_values
df1 = df1.sort_values('duration (seconds)')
df1.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
4081,10/23/2008 04:45,remote,wy,NaN,flash,0.001,0.001sec,brilliant strobe light at 4am&#44 moving light...,1/10/2009,-46.163992,169.875050
70587,8/30/2002 13:45,kerry (republic of ireland),NaN,NaN,sphere,0.010,0.01secs,The object seemed to move at lightining speed,9/13/2002,52.154461,-9.566863
42378,5/15/1987 23:00,island lake,il,us,light,0.010,milliseconds,4 red laser like lines,1/12/2012,42.276111,-88.191944
70393,8/29/2002 23:45,toledo,or,us,triangle,0.010,millisecond,The object I saw was very clear and moved at ...,9/6/2002,44.621667,-123.937222
52996,6/30/2002 03:15,helsinki (finland),NaN,NaN,unknown,0.010,0.01sec,Overpassing UFO,7/1/2002,60.173324,24.941025

In [59]:
df1 = df1.sort_values(['duration (seconds)', 'latitude'], ascending=False)
df1.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
559,10/1/1983 17:00,birmingham (uk/england),NaN,gb,sphere,97836000.0,31 years,Firstly&#44 I was stunned and stared at the ob...,4/12/2013,52.466667,-1.916667
53384,6/3/2010 23:30,ottawa (canada),on,ca,other,82800000.0,23000hrs,((HOAX??)) I was out in a field near mil&#44 ...,7/6/2010,45.416667,-75.700000
74660,9/15/1991 18:00,greenbrier,ar,us,light,66276000.0,21 years,Orange or amber balls or orbs of light multipl...,3/31/2008,35.233889,-92.387500
64390,8/10/2012 21:00,finley,wa,us,light,52623200.0,2 months,There have been several flying objects in a pe...,8/19/2012,46.154167,-119.032778
38261,4/2/1983 24:00,dont know,NaN,NaN,NaN,52623200.0,2 months,Hi&#44 I&#8217;m writing to you because I wan...,7/25/2004,41.730561,-78.682099

In [66]:
# df.drop() ...axis=0 means along rows & axis=1 means along columns

df1 = df1.drop('duration (hours/min)', axis=1)
df1.head(5)

,datetime,city,state,country,shape,duration (seconds),comments,date posted,latitude,longitude
559,10/1/1983 17:00,birmingham (uk/england),NaN,gb,sphere,97836000.0,Firstly&#44 I was stunned and stared at the ob...,4/12/2013,52.466667,-1.916667
53384,6/3/2010 23:30,ottawa (canada),on,ca,other,82800000.0,((HOAX??)) I was out in a field near mil&#44 ...,7/6/2010,45.416667,-75.700000
74660,9/15/1991 18:00,greenbrier,ar,us,light,66276000.0,Orange or amber balls or orbs of light multipl...,3/31/2008,35.233889,-92.387500
64390,8/10/2012 21:00,finley,wa,us,light,52623200.0,There have been several flying objects in a pe...,8/19/2012,46.154167,-119.032778
38261,4/2/1983 24:00,dont know,NaN,NaN,NaN,52623200.0,Hi&#44 I&#8217;m writing to you because I wan...,7/25/2004,41.730561,-78.682099

In [29]:
df2 = df.copy()

bool_latitude = df2['latitude'] > 42
bool_duration = df2['duration (seconds)'] > 1000

df2 = df2.drop(df2.loc[bool_latitude].index, axis=0)
df2 = df2.drop(df2.loc[bool_duration].index, axis=0)
df2.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
43918,5/22/2012 13:00,chico,ca,us,disk,1000.0,1/1000 second?,Cloaking of some type&#44 its either Black Ops...,5/29/2012,39.728611,-121.836389
5422,10/30/1976 16:30,dallas,tx,us,disk,1000.0,16:40,Somethings out there,5/15/2006,32.783333,-96.800000
29726,2/7/2001 18:35,wheaton/kensington,md,NaN,changing,995.0,16:35,SHAPE CHANGING OBJECT IN WASHINGTON DC AREA,2/18/2001,39.039831,-77.055256
32032,3/17/2004 16:30,milton,de,us,other,994.0,16:34,Boat/schooner shaped Hull curved rotating &#44...,4/27/2004,38.777500,-75.310278
38294,4/2/2003 16:30,sydney (nsw&#44 australia),NaN,au,rectangle,990.0,16:30,the object was in a rectangular form and was h...,4/27/2003,-33.861481,151.205475

## Further Reading:

* [User Guide for Pandas](https://jovian.ai/outlink?url=https%3A%2F%2Fpandas.pydata.org%2Fdocs%2Fuser_guide%2Findex.html)
* [Analyzing Tabular Data using Python and Pandas](https://jovian.ai/aakashns/python-pandas-data-analysis#C215) by [Aakash Rao N S](https://jovian.ai/aakashns)