<a href="https://colab.research.google.com/github/DavoodSZ1993/Python_Tutorial/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Useful Basic Python Codes and Built-in Functions and Methods

## Python Decorators

In [1]:
 # Functions can be treated as objects!
def func1():
  print('Function 1 is called')

def func2(f):                
  f()

func2(func1)
print('******************************')

# Wrapper Functions
def f1(func):
  def wrapper():
    print('Started')
    func()
    print('ended')
  return wrapper

def f():
  print('Hello')

# first 
f1(f)()
print('******************************')

# Second
f = f1(f)
f()
print('******************************')

# Third
@f1
def f2():
  print('Hello World!')

f2()

Function 1 is called
******************************
Started
Hello
ended
******************************
Started
Hello
ended
******************************
Started
Hello World!
ended

## F-strings

In [2]:
name = 'Davood'
age = 29

print(f"Hello, my name is {name}, and I'm {age} years old.")

Hello, my name is Davood, and I'm 29 years old.

## `collections` Module

* `collections.namedtuple()`

* `collections.OrderedDict()`

In [3]:
import collections

# Declaring namedtuple()
Student = collections.namedtuple('Student', ['name', 'age', 'DOB'])
 
# Adding values
S = Student('Davood', '29', '10-10-1993')
 
# Access using index
print("The Student age using index is : ", end="")
print(S[1])
 
# Access using name
print("The Student name using keyname is : ", end="")
print(S.name)

print('****************************************************')
# Ordered DIctionary

od = collections.OrderedDict()

od['a'] = 1
od['b'] = 2
od['c'] = 3
od['d'] = 4

for key, value in od.items():
  print(key, value)

The Student age using index is : 29
The Student name using keyname is : Davood
****************************************************
a 1
b 2
c 3
d 4

## Lambda Functions

In [4]:
# Lambda functions = Anonymous (without name) functions

lambda_cube = lambda y: y*y*y

lambda_cube(3)

27

## `zip()`

In [5]:
# Zip function

players = ['Davood', 'Ali', 'Reza', 'Mehdi']
scores = [88, 95, 76, 55]


for pl, sc in zip(players, scores):
  print("Player: %s Score: %d"%(pl, sc))

Player: Davood Score: 88
Player: Ali Score: 95
Player: Reza Score: 76
Player: Mehdi Score: 55

* `setattr()`: Is used to assign the object attribute its value

* `hasattr()`: Is used to check if an object has the given named attribute, and return `True` if present, else `False`.

In [12]:
class Member:
  def __init__(self):
    pass

member1 = Member()
setattr(member1, 'name', 'Davood')
setattr(member1, 'age', 29)

print(f'Name: {member1.name}, Age: {member1.age}')

print('**********************************************')

print('Does name exist? '+ str(hasattr(member1, 'name')))
print('Does age exist? ' + str(hasattr(member1, 'age')))

Name: Davood, Age: 29
**********************************************
Does name exist? True
Does age exist? True

# `IPython.display`

This module is a public API for display tools in IPython which has 23 classes and 16 functions. Some of the useful classes and functions are introduced in this notebook.

* class `Ipython.display.HTML()`: Create a display object given raw data.

* class `IPython.display.Markdown()`: Create a markdown given text.

* class `IPython.display.Latex()`: Create Latex format text given a raw text.

In [15]:
from IPython import display

# HTML
display.HTML(data='<h1>Hello, world!</h1>')

In [16]:
# Markdown
display.Markdown(data='# This is the title')

# This is the title

In [ ]:
# Latex