<a href="https://colab.research.google.com/github/DavoodSZ1993/Python_Tutorial/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Useful Basic Python Codes and Built-in Functions and Methods

## Python Decorators

In [1]:
 # Functions can be treated as objects!
def func1():
  print('Function 1 is called')

def func2(f):                
  f()

func2(func1)
print('******************************')

# Wrapper Functions
def f1(func):
  def wrapper():
    print('Started')
    func()
    print('ended')
  return wrapper

def f():
  print('Hello')

# first 
f1(f)()
print('******************************')

# Second
f = f1(f)
f()
print('******************************')

# Third
@f1
def f2():
  print('Hello World!')

f2()

Function 1 is called
******************************
Started
Hello
ended
******************************
Started
Hello
ended
******************************
Started
Hello World!
ended

## F-strings

In [2]:
name = 'Davood'
age = 29

print(f"Hello, my name is {name}, and I'm {age} years old.")

Hello, my name is Davood, and I'm 29 years old.

## `collections` Module

* `collections.namedtuple()`

* `collections.OrderedDict()`

In [10]:
import collections

# Declaring namedtuple()
Student = collections.namedtuple('Student', ['name', 'age', 'DOB'])
 
# Adding values
S = Student('Davood', '29', '10-10-1993')
 
# Access using index
print("The Student age using index is : ", end="")
print(S[1])
 
# Access using name
print("The Student name using keyname is : ", end="")
print(S.name)

print('****************************************************')
# Ordered DIctionary

od = collections.OrderedDict()

od['a'] = 1
od['b'] = 2
od['c'] = 3
od['d'] = 4

for key, value in od.items():
  print(key, value)

The Student age using index is : 29
The Student name using keyname is : Davood
****************************************************
a 1
b 2
c 3
d 4

## Lambda Functions

In [11]:
# Lambda functions = Anonymous (without name) functions

lambda_cube = lambda y: y*y*y

lambda_cube(3)

27

## `zip()`

In [15]:
# Zip function

players = ['Davood', 'Ali', 'Reza', 'Mehdi']
scores = [88, 95, 76, 55]


for pl, sc in zip(players, scores):
  print("Player: %s Score: %d"%(pl, sc))

Player: Davood Score: 88
Player: Ali Score: 95
Player: Reza Score: 76
Player: Mehdi Score: 55