<a href="https://colab.research.google.com/github/DavoodSZ1993/Python_Tutorial/blob/main/setattr_getattr_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* `getattr(object, attribute_name)`: Gets the value of an object's attribute and if no attribute of that object is found, default value is returned.
* `object`: Object of the class whose attribute value is being returned.
* `attribute_name`: attribute's name.

In [1]:
class Employee:
  emp_comp = 'Amazon'
  emp_age = 30
  default_age = 50

In [4]:
e = Employee()

print(getattr(e, 'emp_comp'))
print(getattr(e, 'emp_age'))
print(getattr(e, 'default_age'))

Amazon
30
50

* `setattr(object, name, value)`: Sets the attribute value of an object.
* `object`: object whose attribute has to be set.
* `name`: attribute name for which we need to set the value.
* `value`: value of the attribute to be set.

In [5]:
print(getattr(e, 'emp_age'))
setattr(e, 'emp_age', 100)
print(getattr(e, 'emp_age'))

30
100